




nav {
    width: 100%;
    height: 10vh;
    background-color: #00171F;
    color: #ffffff;
    padding-top: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dark {
    background-color: #00171F;
}

.black-box {
    background-color: #00171F;
}
.index-box {
    background-color: #003459;
}

.whitefont{
    color: #ffffff;
    text-align: center;
}

/* Logo */

.logo-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url('../assets/vecteezy_pirate-ship-icon-vector-illustration_6484737.jpg');
    background-position: center;
    background-size: cover;
}
.logo-name {
    padding-left: 70px;
    margin-top: -55px;
}

/* Nav groups */

.navbar-nav {
    margin-left: 100px;
}

.nav-link {
    margin-left: 30px;
}

.about {
    float: left;
    
}
.courses {
    float: left;
}
.trips {
    float: left;
}
.contact {
    float: left;
}

.bg-body-tertiary {
    background-color: #00171F;
}
.navbar-expand-lg {
    background-color: #00171F;
}
.navbar {
    background-color: #00171F;
}


/* Nav Search bar */

.search-icon {
    float: right;
    width: 40px;
    height: 40px;
    margin-left: 500px;
    border-radius: 50%;
    background-color: #ffffff;
    background-image: url('../assets/search1.png');
    background-position: center;
    background-size: cover;
}

/* Trips */

.col {
    background-color: #00171F;
}

.trips-box {
    width: 200px;
    height: 60vh;
    background-color: #ffffff;
    margin-right: 60px;
    padding-left: 20px;
    margin-top: 100px;
    border-radius: 10px;
}

.image-box {
    width: 530px;
    height: 20vh;
    margin-top: 20px;
    
    background-color: #00171F;
    border-radius: 10px;
}

.hr-line {
    width: 60vh;
    height: 5px;
    background-color: #00171F;
    border-radius: 20px;
}

.book-button {
    width: 190px;
    height: 30px;
    color: #ffffff;
    background-color: #FE2626;
    border-radius: 20px;
    border: 0px;

    
    margin-top: 100px;
}

.book-button:hover{
    background-color: #00171F;
    color: #ffffff;
}

.filter {
    width: 1265px;
    height: 30px;
    background-color: #FE2626;
    margin-left: 270px;
    margin-top: 80px;
    border-radius: 1px;
}

.date {
    margin-left: 470px;
    margin-bottom: -24px;
}




.trips-header { 
    color: #ffffff;
    margin-top: 100px;
    margin-left: 270px;
}


/* carousel */

.carousel-item {
    background-color: #00171F;
}

.carousel {
    width: 100%;
}

.carousel-control-next, .carousel-control-prev {
    top: auto;
    right: auto;
    left: 24px;
    bottom: 24px;
    width: auto;
    background-color: white;
    padding: 12px;
    border-radius: 50%;
}

.carousel-control-next {
    left: 185vh;
    float: right;
}

.hero-image {
    background-image: url("");
    background-position: center;
    background-size: cover;
}





.carousel-text1 {
    text-align: center;
    color: #ffffff;
    font-size: 100px;
    margin-top: -600px;
}

.carousel-text2 {
    text-align: center;
    color: #ffffff;
    font-size: 60px;
}

.hr-carousel {
    width: 81%;
    height: 20px;
    background-color: #FE2626;
    color: #FE2626;
    border-radius: 20px;
    margin-left: 120px;
    margin-top: -22px;
}

.carousel-button {
    width: 30%;
    height: 95px;
    background-color: #00A8E8;
    color: #ffffff;
    border: none ;
    border-radius: 50px;
    font-size: 60px;
    margin-top: 10px;
}

.carousel-button:hover {
    background-color: #00171F;
    
}

/* Index page */

.left-img-head {
    width: 600px;
    height: 600px;
    float: left;

    
}

.tips-col{
    background-color: #007EA7;
    margin-top: 30px;
}

.white-tip-head {
    text-align: center;
    color: #ffffff;
}

.maintrips {
    margin-top: 200px;
}

.tips-background {
    width: 100%;
    height: 700px;
    background-color: #007EA7;
}

.weather {
    margin-top: 100px;
    color: #ffffff;
}

.changeText {
    color: white;
    margin-top: 50px;
    text-align: center;
}

.weatherText{
    color: #ffffff;
    margin-top: 100px;
    text-align: center;
    font-size: 100px;
}

.bottomBox {
    width: 50%;
    height: 1200px;
    background-color: #00171F;
    margin-left: 500px;
}

.weather-box {
    background-color: #7ED8FA;
    width: 400px;
    height: 400px;
    border-radius: 20px;
}

.large-text {
    font-size: 100px;
}

.this-one-2 {
    margin-top: 70px;
}

.weather-box2 {
    width: 60%;
    height: 300px;
    background-color: #00171F;
    margin-top: 50px;
}



/* Accordion */

.accordion {
    width: 40%;
    margin-left: 600px;
    margin-top: -1000px;
    color: white;
    background-color: #002E3E;
}



/* Table/Checkout */

.table {
    width: 70%;
    height: auto;
    margin-left: 300px;
    margin-top: 100px;
}

.remove-icon {
    width: 70px;
    height: 70px;
    position: relative;
    background-image: url("../assets/pngegg\ \(31\).png");
    background-position: center;
    background-size: cover;
}
.remove-icon:hover {
    width: 70px;
    height: 70px;
    position: relative;
    background-image: url("../assets/Delete\ 2.png");
    border: black 2px;
}


.table-image {
    width: 300px;
    height: 150px;

}


